html, body {
	margin: 0;
	padding: 20px;
}

div.hire-forms-list > ul,
div.hire-forms-list > ol {
	margin: 0;
	width: 300px;
}

div.hire-forms-list > ul > li,
div.hire-forms-list > ol > li {
	padding: 10px 0;
	border-bottom: 1px solid #DDD;
}

div.hire-forms-list > ul > li:first-child {
	padding-top: 0;
}

div.hire-forms-list > ul > li:last-child {
	border-bottom: none;
}

div.example div.hire-forms-list,
div.example div.code {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

div.example {
	margin-bottom: 60px;
}

div.example h2 {
	border-bottom: 1px solid #DDD;
	margin: 1em 0;
}
div.hire-tabs > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.hire-tabs > ul > li {
	border: 1px solid #f5f2f0;;
	display: inline-block;
	text-align: center;
	width: 100px;
}

div.hire-tabs > ul > li.active {
	background-color: #f5f2f0;
}

div.hire-tabs pre {
	margin: 0;
}
