
li.hire-forms-list-item input,
li.hire-forms-list-item span.value,
li.hire-forms-list-item button.remove {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}

div.hire-forms-list li.hire-forms-list-item input,
div.hire-forms-list li.hire-forms-list-item span.value {
	width: 100%
}

div.hire-forms-list.mutable li.hire-forms-list-item input,
div.hire-forms-list.mutable li.hire-forms-list-item span.value {
	width: 90%
}

div.hire-forms-list.editable li.hire-forms-list-item span.value{
	cursor: pointer;
}

li.hire-forms-list-item button.remove {
	cursor: pointer;
	opacity: 0;
	width: 10%
}

li.hire-forms-list-item:hover button.remove {
	opacity: 1;
}
